:root {
	--w: 400px;
	--h: 32px;
	--outer: #ffffff;
	--base: rgba(16, 0, 38, 0.75);
	--fill: linear-gradient(90deg,rgba(60, 7, 114, 1) 0%, rgba(74, 7, 143, 1) 100%);
	--iconColor: #3C0772;
	--right: transparent;
	--text: rgba(255, 255, 255, 1);
	--font: "Poppins";
	--titleWeight: 500;
	--titleSize: 13px;
	--valueSize: 13px;
	--rightWidth: 140px;
}

html,
body {
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}

.goal {
	width: var(--w);
	height: var(--h);
	border-radius: 3px;
	border: 1px solid var(--outer);
	background: transparent;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	font-family: var(--font), system-ui, -apple-system, Segoe UI, Roboto, Arial;
	line-height: 1;
	filter:
		drop-shadow(0px 1px 0px rgba(89, 0, 255, 1))
		drop-shadow(0px 2px 0px rgba(23, 9, 228, 1));
}

.goal-left {
	position: relative;
	width: calc(100% - var(--rightWidth));
	height: 100%;
	background: var(--base);
}

.goal-fill {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	height: calc(100% - 2px);
	width: 0%;
	border-radius: 3px;
	background: var(--fill);
	transition: width 600ms cubic-bezier(.2, .9, .2, 1);
}

.goal-label {
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 0 10px;
}

.goal-icon {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .98);
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
}

#goalIcon {
	color: var(--iconColor);
	font-size: 18px;
	line-height: 1;
	font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}

.goal-title {
	color: var(--text);
	font-weight: var(--titleWeight);
	font-size: var(--titleSize);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.goal-right {
	position: absolute;
	right: 10px;
	top: 0;
	height: 100%;
	width: var(--rightWidth);
	color: var(--text);
	background: var(--right);
	font-weight: 500;
	font-size: var(--valueSize);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	letter-spacing: .2px;
	z-index: 5;
}

.sep {
	opacity: .9;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
